body {
  font-family: "Fira Sans", sans-serif;
  color: #333;
  font-weight: 300;
  background-color: #fbfbfb;
}

h1, h2, h3, h4, h5, h6 {
  clear: both;
}

p, ul {
  max-width: 600px;
}

a { color: #0095DD; }
a:hover { color: #008ACB; }
a:active { color: #006B9D; }

.hidden { display:none; }