#app {
  font-family: "Lucida Grande", sans-serif;
  margin-bottom: 100px;
}

input {
  border: none;
  background: none;
  margin: 0;
  font-size: 13px;
}

#url-box {
  width: 16px;
  height: 16px;
  display: inline-block;
  background-image: url("../img/search.png");
  background-size: 16px 16px;
  transform: translateY(3px);
}
#url-box.url {
  background-image: url("../img/globe.png");
}

#search-box {
  width: 300px;
}

.url-bar {
  float: left;
  border: 1px solid #999;
  width: 400px;
  background-color: #fff;
  padding: 2px 8px 3px 8px;
  border-radius: 3px;
}

.dropdown {
  display: none;
  position: absolute;
  margin-top: 30px;
  width: 406px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px;
  text-align: center;
  padding-top: 40px;
}